body {
    background-color: #b5a789;
    font-family: Georgia, "Times New Roman", Time, serif;
    font-size: small;
    margin: 0;
}

/*
    height messes up the headers in the blog in the articles
    it's only appropriate for the top header.
    add a class (new with blog)
    Affects the 3 #header rules for the main header below
    In HTML: add class="top" to main header in index.html blog.html
*/

header.top {
    background-color: #675c47;
    margin: 10px 10px 0 10px;
    height: 108px;
}

header.top img#headerSlogan {
    float: right;
}

div#tableContainer {
    display: table;
    border-spacing: 10px;
}

div#tableRow {
    display: table-row;
}

section#drinks {
    display: table-cell;
    background-color: #efe5d0;
    /*width: 20%;*/
    vertical-align: top;
}
section#main, section#blog {
    display: table-cell;
    vertical-align:top;
}